################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/net6.0/API.dll
/API/bin/Debug/net6.0/API.pdb
/API/bin/Debug/net6.0/Application.dll
/API/bin/Debug/net6.0/DTO.dll
/API/bin/Debug/net6.0/Domain.dll
/API/bin/Debug/net6.0/DTO.pdb
/API/bin/Debug/net6.0/Domain.pdb
/API/bin/Debug/net6.0/Helper.pdb
/API/bin/Debug/net6.0/ExternalAPI.pdb
/API/bin/Debug/net6.0/ExternalAPI.dll
/API/bin/Debug/net6.0/Helper.dll
/API/bin/Debug/net6.0/API.staticwebassets.runtime.json
/API/bin/Debug/net6.0/Infrastructure.dll
/API/bin/Debug/net6.0/Infrastructure.pdb
/API/bin/Debug/net6.0/Persistence.dll
/API/bin/Debug/net6.0/Middlewares.pdb
/API/bin/Debug/net6.0/Middlewares.dll
/API/bin/Debug/net6.0/Persistence.pdb
/API/bin/Debug/net6.0/Application.pdb
/API/obj/Debug/net6.0/API.assets.cache
/API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
/API/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache
/API/obj/Debug/net6.0/API.csproj.FileListAbsolute.txt
/API/obj/Debug/net6.0/API.dll
/API/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
/API/obj/Debug/net6.0/API.genruntimeconfig.cache
/API/obj/Debug/net6.0/API.pdb
/API/obj/Debug/net6.0/staticwebassets.build.json
/API/obj/Debug/net6.0/staticwebassets.development.json
/API/obj/Debug/net6.0/staticwebassets.pack.json
/API/obj/API.csproj.nuget.dgspec.json
/API/obj/API.csproj.nuget.g.props
/API/obj/project.assets.json
/API/obj/project.nuget.cache
/Application/bin/Debug/net6.0/Application.dll
/Application/bin/Debug/net6.0/Application.pdb
/Application/bin/Debug/net6.0/Domain.dll
/Application/bin/Debug/net6.0/Domain.pdb
/Application/bin/Debug/net6.0/DTO.dll
/Application/bin/Debug/net6.0/DTO.pdb
/Application/obj/Application.csproj.nuget.dgspec.json
/Application/obj/Application.csproj.nuget.g.props
/Application/obj/Debug/net6.0/Application.assets.cache
/Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
/Application/obj/Debug/net6.0/Application.csproj.CoreCompileInputs.cache
/Application/obj/Debug/net6.0/Application.csproj.FileListAbsolute.txt
/Application/obj/Debug/net6.0/Application.dll
/Application/obj/Debug/net6.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Debug/net6.0/Application.pdb
/Application/obj/Debug/net6.0/ref/Application.dll
/Application/obj/Debug/net6.0/refint/Application.dll
/Application/obj/project.assets.json
/Application/obj/project.nuget.cache
/Domain/obj/Debug/net6.0/Domain.assets.cache
/Domain/obj/Debug/net6.0/Domain.csproj.AssemblyReference.cache
/Domain/obj/Debug/net6.0/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Debug/net6.0/Domain.dll
/Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Debug/net6.0/Domain.pdb
/Domain/obj/Domain.csproj.nuget.dgspec.json
/Domain/obj/Domain.csproj.nuget.g.props
/Domain/obj/project.assets.json
/Domain/obj/project.nuget.cache
/DTO/bin/Debug/net6.0/Domain.dll
/DTO/obj/Debug/net6.0/DTO.assets.cache
/DTO/obj/Debug/net6.0/DTO.csproj.AssemblyReference.cache
/DTO/obj/Debug/net6.0/DTO.csproj.CoreCompileInputs.cache
/DTO/obj/Debug/net6.0/DTO.csproj.FileListAbsolute.txt
/DTO/obj/Debug/net6.0/DTO.dll
/DTO/obj/Debug/net6.0/DTO.GeneratedMSBuildEditorConfig.editorconfig
/DTO/obj/Debug/net6.0/DTO.pdb
/DTO/obj/DTO.csproj.nuget.dgspec.json
/DTO/obj/DTO.csproj.nuget.g.props
/DTO/obj/project.assets.json
/DTO/obj/project.nuget.cache
/ExternalAPI/bin/Debug/net6.0/Application.dll
/ExternalAPI/bin/Debug/net6.0/Application.pdb
/ExternalAPI/bin/Debug/net6.0/Domain.dll
/ExternalAPI/bin/Debug/net6.0/Domain.pdb
/ExternalAPI/bin/Debug/net6.0/DTO.dll
/ExternalAPI/bin/Debug/net6.0/DTO.pdb
/ExternalAPI/bin/Debug/net6.0/ExternalAPI.dll
/ExternalAPI/bin/Debug/net6.0/ExternalAPI.pdb
/ExternalAPI/obj/Debug/net6.0/ExternalAPI.assets.cache
/ExternalAPI/obj/Debug/net6.0/ExternalAPI.csproj.AssemblyReference.cache
/ExternalAPI/obj/Debug/net6.0/ExternalAPI.csproj.CoreCompileInputs.cache
/ExternalAPI/obj/Debug/net6.0/ExternalAPI.csproj.FileListAbsolute.txt
/ExternalAPI/obj/Debug/net6.0/ExternalAPI.dll
/ExternalAPI/obj/Debug/net6.0/ExternalAPI.GeneratedMSBuildEditorConfig.editorconfig
/ExternalAPI/obj/Debug/net6.0/ExternalAPI.pdb
/ExternalAPI/obj/ExternalAPI.csproj.nuget.dgspec.json
/ExternalAPI/obj/ExternalAPI.csproj.nuget.g.props
/ExternalAPI/obj/project.assets.json
/ExternalAPI/obj/project.nuget.cache
/Helper/bin/Debug/net6.0/Domain.dll
/Helper/bin/Debug/net6.0/Domain.pdb
/Helper/bin/Debug/net6.0/DTO.dll
/Helper/bin/Debug/net6.0/DTO.pdb
/Helper/bin/Debug/net6.0/Helper.dll
/Helper/bin/Debug/net6.0/Helper.pdb
/Helper/obj/Debug/net6.0/Helper.assets.cache
/Helper/obj/Debug/net6.0/Helper.csproj.AssemblyReference.cache
/Helper/obj/Debug/net6.0/Helper.csproj.CoreCompileInputs.cache
/Helper/obj/Debug/net6.0/Helper.csproj.FileListAbsolute.txt
/Helper/obj/Debug/net6.0/Helper.dll
/Helper/obj/Debug/net6.0/Helper.GeneratedMSBuildEditorConfig.editorconfig
/Helper/obj/Debug/net6.0/Helper.pdb
/Helper/obj/Helper.csproj.nuget.dgspec.json
/Helper/obj/Helper.csproj.nuget.g.props
/Helper/obj/project.assets.json
/Helper/obj/project.nuget.cache
/Infrastructure/bin/Debug/net6.0/Application.dll
/Infrastructure/bin/Debug/net6.0/Application.pdb
/Infrastructure/bin/Debug/net6.0/Domain.dll
/Infrastructure/bin/Debug/net6.0/Domain.pdb
/Infrastructure/bin/Debug/net6.0/DTO.dll
/Infrastructure/bin/Debug/net6.0/DTO.pdb
/Infrastructure/bin/Debug/net6.0/ExternalAPI.dll
/Infrastructure/bin/Debug/net6.0/ExternalAPI.pdb
/Infrastructure/bin/Debug/net6.0/Helper.dll
/Infrastructure/bin/Debug/net6.0/Helper.pdb
/Infrastructure/bin/Debug/net6.0/Infrastructure.dll
/Infrastructure/bin/Debug/net6.0/Infrastructure.pdb
/Infrastructure/bin/Debug/net6.0/Persistence.dll
/Infrastructure/bin/Debug/net6.0/Persistence.pdb
/Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/obj/Debug/net6.0/Infrastructure.dll
/Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/Infrastructure/obj/project.assets.json
/Infrastructure/obj/project.nuget.cache
/Domain/bin/Debug/net6.0/Domain.dll
/Domain/bin/Debug/net6.0/Domain.pdb
/DTO/bin/Debug/net6.0/Domain.pdb
/DTO/bin/Debug/net6.0/DTO.dll
/DTO/bin/Debug/net6.0/DTO.pdb
/DTO/obj/Debug/net6.0/ref/DTO.dll
/DTO/obj/Debug/net6.0/refint/DTO.dll
/Middlewares/bin/Debug/net6.0/Middlewares.dll
/Middlewares/bin/Debug/net6.0/Middlewares.pdb
/Middlewares/obj/Debug/net6.0/Middlewares.assets.cache
/Middlewares/obj/Debug/net6.0/Middlewares.csproj.AssemblyReference.cache
/Middlewares/obj/Debug/net6.0/Middlewares.csproj.FileListAbsolute.txt
/Middlewares/obj/Debug/net6.0/Middlewares.dll
/Middlewares/obj/Debug/net6.0/Middlewares.GeneratedMSBuildEditorConfig.editorconfig
/Middlewares/obj/Debug/net6.0/Middlewares.pdb
/Middlewares/obj/Middlewares.csproj.nuget.dgspec.json
/Middlewares/obj/Middlewares.csproj.nuget.g.props
/Middlewares/obj/project.assets.json
/Middlewares/obj/project.nuget.cache
/Persistence/bin/Debug/net6.0/Application.dll
/Persistence/bin/Debug/net6.0/Application.pdb
/Persistence/bin/Debug/net6.0/Domain.dll
/Persistence/bin/Debug/net6.0/Domain.pdb
/Persistence/bin/Debug/net6.0/DTO.dll
/Persistence/bin/Debug/net6.0/DTO.pdb
/Persistence/bin/Debug/net6.0/Helper.dll
/Persistence/bin/Debug/net6.0/Helper.pdb
/Persistence/bin/Debug/net6.0/Persistence.dll
/Persistence/bin/Debug/net6.0/Persistence.pdb
/Persistence/obj/Debug/net6.0/Persistence.assets.cache
/Persistence/obj/Debug/net6.0/Persistence.csproj.AssemblyReference.cache
/Persistence/obj/Debug/net6.0/Persistence.csproj.CoreCompileInputs.cache
/Persistence/obj/Debug/net6.0/Persistence.csproj.FileListAbsolute.txt
/Persistence/obj/Debug/net6.0/Persistence.dll
/Persistence/obj/Debug/net6.0/Persistence.GeneratedMSBuildEditorConfig.editorconfig
/Persistence/obj/Debug/net6.0/Persistence.pdb
/Persistence/obj/Persistence.csproj.nuget.dgspec.json
/Persistence/obj/Persistence.csproj.nuget.g.props
/Persistence/obj/project.assets.json
/Persistence/obj/project.nuget.cache
/.vs/HatzalahAdminPortalApi/v17/.suo
/.vs/HatzalahAdminPortalApi/FileContentIndex/e5f9f9d3-1e4a-490a-8760-4dc3e6806d83.vsidx
/.vs/HatzalahAdminPortalApi/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/hatzalahadminportalapi.metadata.v5.2
/.vs/ProjectEvaluation/hatzalahadminportalapi.projects.v5.2
